.game {

    background: #0781f3;

    padding: 20px;

    font-size: 1.5em;

    font-weight: normal;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    text-transform: uppercase;

    color: #fff;

  }

  .PlayStation1{

  

    width: 100px;

    height: 100px;

        border-radius: 3px;

        padding: 1em;

        margin: 1e }