.game {

    background: #0781f3;
  
    padding: 20px;
  
    font-size: 1.5em;
  
    font-weight: normal;
  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
    text-transform: uppercase;
  
    color: #fff;
  
  }
  
  .Keranjang Belanja{
  
    
  
    width: 100px;
  
    height: 100px;
  
        border-radius: 3px;
  
        padding: 1em;
  
        margin: 1e
  
  } 
  
  
  
  .List{
  
    
  
    width: 100px;
  
    height: 100px;
  
        border-radius: 3px;
  
        padding: 1em;
  
        margin: 1e
  
  } 
  
  .Tambah Produk{
  
    
  
    width: 100px;
  
    height: 100px;
  
        border-radius: 3px;
  
        padding: 1em;
  
        margin: 1e
  
  } 
  
  
  
  
  
  h1{
  
    font-weight: bold;
  
        color: rgb(251, 253, 253);
  
        font-size: 1.0em;
  
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
      
  
         }