<ion-header>

  <ion-toolbar>

    <ion-title class="game">

      MENU

    </ion-title>

  </ion-toolbar>

</ion-header>



<ion-content>



<ion-item >

     

    <ion-icon name="logo-playstation"></ion-icon>  

  <ion-button href="/list"><ion-label><div><h1>list</h1></div></ion-label>

    

  </ion-button>

 

</ion-item>

<ion-item >

    <ion-icon name="basket"></ion-icon>



  <ion-button href="/tambahkeranjang"><ion-label><div><h1>Keranjang Belanja</h1></div>

 </ion-label>    

  </ion-button>



</ion-item >

  

<ion-item>

    <ion-icon name="add"></ion-icon>

  <ion-button href="/tambahproduk"><ion-label><div><h1>Tambah Produk</h1></div></ion-label>

  </ion-button>

</ion-item>







</ion-content>