<ion-header>

  <ion-toolbar>

    <ion-title class="game">

      Daftar Barang

    </ion-title>

  </ion-toolbar>

</ion-header>



<ion-content >

  <ion-list >

 <ion-item  >

        <ion-avatar class="Nintendo Switch" slot="start">

            <img src="https://upload.wikimedia.org/wikipedia/commons/9/9c/Nintendo-Switch-JoyCon-Grip-FL.jpg">

          </ion-avatar>

      <ion-label ><div><h1>Nintendo Switch</h1></div>

        </ion-label>

    </ion-item>

    <ion-item>

      <ion-col text-right>

        

        <ion-button href="/tambahkeranjang"><ion-icon name="basket"></ion-icon></ion-button>

      </ion-col>

      

    </ion-item> 

    <ion-item >

      <ion-avatar class="PlayStation 1" slot="start">

        <img src="https://dpi132tari.files.wordpress.com/2011/01/ps1.jpg">

      </ion-avatar>

  <ion-label ><h1>PlayStation 1</h1></ion-label>

</ion-item>

<ion-item>

  <ion-col text-right>

    <ion-button href="/tambahkeranjang"><ion-icon name="basket"></ion-icon></ion-button>

  </ion-col>

  

</ion-item>

  <ion-item>

    <ion-avatar class="PlayStation 2" slot="start">

    <img src="https://upload.wikimedia.org/wikipedia/commons/1/11/PS2-slim-console.jpg">

 </ion-avatar>

<ion-label><h1>PlayStation 2</h1> </ion-label>

</ion-item>

<ion-item>

  <ion-col text-right>

    <ion-button href="/tambahkeranjang"><ion-icon name="basket"></ion-icon></ion-button>

  </ion-col>

  

</ion-item>

<ion-item>

  <ion-avatar class="PlayStation 3" slot="start">

    <img src="https://upload.wikimedia.org/wikipedia/commons/3/30/PS3-Consoles-Set.jpg">

  </ion-avatar>

<ion-label><h1>PlayStation 3</h1></ion-label>

</ion-item>

<ion-item>

  <ion-col text-right>

    <ion-button href="/tambahkeranjang"><ion-icon name="basket"></ion-icon></ion-button>

  </ion-col>

  

</ion-item>

<ion-item>

  <ion-avatar class="PlayStation 4" slot="start">

      <img src="https://upload.wikimedia.org/wikipedia/commons/e/ec/Sony-PlayStation-4-PS4-Console-FR.jpg">

    </ion-avatar>

    <ion-label><h1>PlayStation 4</h1></ion-label>

  </ion-item>    

  <ion-item>

    <ion-col text-right>

     

      <ion-button href="/tambahkeranjang"><ion-icon name="basket"></ion-icon></ion-button>

    </ion-col>

    

  </ion-item>

  <ion-item>

    <ion-avatar class="TV" slot="start">

      <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Microsoft-Xbox-One-Console-Set-wKinect.jpg">

    </ion-avatar>

<ion-label><h1>Xbox One</h1></ion-label>

  </ion-item>

 <ion-item>

  <ion-col text-right>

    <ion-button href="/tambahkeranjang"><ion-icon name="basket"></ion-icon></ion-button>

  </ion-col>

  

</ion-item>

  

</ion-list>

</ion-content>

<ion-footer>

  <ion-item >

    <ion-button href="/tabs/tab2">GOBACK </ion-button>

  </ion-item>





</ion-footer>



